$main-font: 'Montserrat', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$italic-font: 'Kaushan Script', cursive;
$main-color: #999999;
$main-accent-color: #fce38a;
$link-header-color: #ffffff;
$title-color: #333333;
$socials-bg-color: #f38181;
$shadow-color: #95e1d3;
$border-color: #e7e7e7;